# Python bytecode
*.pyc

# Intermediate training data
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
!requirements*.txt
*.pb

# Built cython files
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c

#egg-info
darkflow.egg-info/

#Other build stuff


#TensorBoard logs
summary/

#Built graphs

#pytest cache
.cache/
